
<!DOCTYPE html>
<html>
<head>
    <title>Send Email</title>
</head>
<body>
    <h2>Send Email</h2>
    
     
     <form action="{{ url_for('email.sendmail') }}" method="POST">
      
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label>From Email:</label><br>
        <input type="email" name="fromemail" required><br><br>

        <label>To Email:</label><br>
        <input type="email" name="toemail" required><br><br>

        <label>Subject:</label><br>
        <input type="text" name="subject" required><br><br>

        <label>Message:</label><br>
        <textarea name="body" required></textarea><br><br>

        <button type="submit">Send</button>
    </form>
</body>
</html>
